<div class="card">
  <div class="card-header">Form</div>

  <div class="card-body" [formGroup]="frm">
    <div class="form-group mb-2">
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text" class="form-control"
        [ngClass]="{'is-valid':isSubmited && this.controls['name'].valid,'is-invalid':isSubmited && !this.controls['name'].valid}">
      <div class="invalid-feedback" *ngIf="isSubmited && !this.controls['name'].valid">
        Please provide a valid name.
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="surname">Surname</label>
      <input id="surname" formControlName="surname" type="text" class="form-control"
        [ngClass]="{'is-valid':isSubmited && this.controls['name'].valid,'is-invalid':isSubmited && !this.controls['name'].valid}">
    </div>

    <div class="form-group mb-2">
      <div class="form-check form-check-inline mb-2">
        <input id="female" name="gender" formControlName="gender" class="form-check-input" type="radio"
          value="female" />
        <label class="form-check-label" for="female">female</label>
      </div>
      <div class="form-check form-check-inline mb-2">
        <input id="male" name="gender" formControlName="gender" class="form-check-input" type="radio" value="male" />
        <label class="form-check-label" for="male">male</label>
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="job">job</label>
      <select id="job" formControlName="job" class="form-control"
        [ngClass]="{'is-valid':isSubmited && this.controls['name'].valid,'is-invalid':isSubmited && !this.controls['name'].valid}">
        <option *ngFor="let c of jobList" value="{{ c.id }}">
          {{ c.text }}
        </option>
      </select>
    </div>

    <input type="button" value="Save" class="btn-outline-primary w-25" (click)="save()" />
  </div>
</div>